data_dir: "/var/lib/vector"

sources:
  in:
    type: "journald"

sinks:
  out:
    type: "clickhouse"
    inputs: ["in"]
    endpoint: "http://localhost:8123"
    database: "logs"
    table: "vector_logs"
    compression: "gzip"
